/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*   
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
*/

@import url('https://fonts.googleapis.com/css2?family=Copse&family=Edu+NSW+ACT+Foundation:wght@400..700&family=ZCOOL+XiaoWei&display=swap');

/* 

    font-family: "ZCOOL XiaoWei", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

*/

@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

/* 

  font-family: "Cagliostro", sans-serif;
  font-weight: 400;
  font-style: normal;

*/

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=WDXL+Lubrifont+TC&display=swap');

/* 
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;

  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;

*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

//   font-family: "Source Sans 3", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;